.body-content{
    background-image: url(../img/main_bg.jpg);
    background-position: center;
    height: -webkit-fill-available;
    width: 100%;
    max-width: inherit;
}
.movie-header-title{
    text-align: center;
    color: #ffffff;
    font-size: 50px;
    margin: 0;
    display: block;
}
.breaker-space{
    margin-bottom: 50px;
}
.dark-text{
    color: #ffffff;
}
.search-result{
    text-align: center;
}
.poster-result{
    opacity: 0.5;
    transition: 0.25s ease-in-out;
    height: 300px;
}
.no-result:hover{
    opacity: 1;
}
#movies .col-md-3 .well{
    height: 390px;
    margin-bottom: 35px;
}
